@{
    ViewData["Title"] = "Flying Wings";
}

<section class="Flying Wings">
    <h1>Flying Wings Team</h1>
    <ul>
        <li>Focuses on assisting victims of domestic violence, gender-based violence, rape, and sexual assault.</li>
        <li>Provides 24-hour shelter, clothing, care packages, meals, and counseling to survivors.</li>
        <li>Advocates for senior and children's rights, aiming to create a refuge that offers healthcare and legal counsel for abuse victims.</li>
    </ul>
</section>
