@{
    ViewData["Title"] = "Helping Hands";
}

<section class="Helping Hands">
    <h1>Helping Hands Team</h1>
    <ul>
        <li>Provides essential support through food hampers, clothing, furnishings, and mass feedings in underprivileged areas.</li>
        <li>Organizes workshops on medical, legal, and gender-based violence topics.</li>
        <li>Establishes GBV helpdesks in schools and distributes vital supplies like baby and adult diapers, cereals, and bottled water during water shortages.</li>
    </ul>
</section>
