@{
    ViewData["Title"] = "Legal Wings";
}

<section class="`Legal Wings">
    <h1>Legal Wings Team</h1>
    <ul>
        <li>Offers a range of legal services, including representation for victims of unlawful violations of their rights.</li>
        <li>Provides legal advice and representation to marginalized communities.</li>
    </ul>
</section>
