@{
    ViewData["Title"] = "Medi Wings";
}

<section class="Medi Wings">
    <h1>Mediwings Team</h1>
    <ul>
        <li>Promotes informed health choices by educating the community on the risks of replacing doctor-prescribed medications with herbal remedies.</li>
        <li>Engages in psychosocial development and aims to prevent medication misuse.</li>
        <li>Provides pro-bono legal representation and support to vulnerable individuals, especially those impacted by natural disasters or crises.</li>
    </ul>
</section>
