@{
    ViewData["Title"] = "Youth Wings";
}

<section class="Youth Wings">
    <h1>Youth Wings Team</h1>
    <ul>
        <li>Focuses on the well-being and development of youth, offering counseling and educational programs.</li>
        <li>Raises awareness about personal safety, anti-bullying, respectful behavior, and the risks of substance abuse.</li>
    </ul>
</section>
